
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}


/* navigation */
.page-header {
  background-color: #FFE17F;
  padding: 30px 60px;
  min-height: 300px;
}

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header-navigation-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.header-search-button {
  font-size: 16px;
  line-height: 20px;
}

.header-bottom-menu {
  display: flex;
  justify-content: space-between;
}

.header-catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 45px;
}

.header-catalog-item {
  display: flex;
  align-items: center;
}

.header-sub-catalog-item {
  line-height: 18px;
}

.header-catalog-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* slider */

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-button {
  display: flex;
  justify-content: space-between;
}

.slider-info-number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.image-info {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.image-description {
  color: #444444;
}

.more-info {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.distance {
  font-size: 36px;
}

.distance-wrapper {
  display: flex;
  justify-content: center;
}

.range {
  font-size: 16px;
  color: #444444;
}

/* catalog list */

.catalog-list {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 160px;
}

.catalog-image-wrapper {
 background-color: #FFE17F;
 width: 100%;
 height: 160px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.catalog-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

/* INFO */

.info-section-wrapper {
background-color: #F0F0F0;
margin-top: 70px;
}

.info-section {
display: flex;
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;

}


.info-item  {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info-item-active {
  background-color: #000000;
    padding: 10px;
}

.info-link-active {
  color: #ffe17f;

}

.description-name,
.about-title,
.contacts-title,
.distribution-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 110px;
    width: 694px;
    height: 174px;
    border-left: 7px solid black;

}

.description-text {
  color: #444444;
}

.delivery {
  display: flex;
  align-items: center;
  background: #F0F0F0;
  margin-top: 70px;
}

.delivery-auto {
  display: flex;
  height: 100px;
  width: 125px;
  background-color: #ffe17f;
  align-items: center;
  justify-content: center;
}

.delivery-rare-product {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 40px;
}


.about-contacts {
display: flex;
justify-content: space-between;
}

.about-text {
  color: #444444;
}

.about-item {
  list-style-type: disc;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2em;
}

.about-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts {
  color: #444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-phone {
  text-decoration-line: underline;
}

.distribution-top {
  background-color: #F0F0F0;
}

.distribution-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.distribution-subscribe  {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.distribution-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.distribution-bottom {
display: flex;
justify-content: space-between;
}

/* FOOTER */

.page-footer {
  background-color: #000000;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 35px;
}

.footer-rectangle {
  width: 80px;
  height: 7px;
  background-color: #FFC700 ;
}
.footer-social {
  display: flex;
 justify-content: space-between;
}

.footer-social-list {
  display: flex;
  gap: 15px;
}

.footer-address-text,
.footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.login-button {
  opacity: 0.3;
}
/*CATALOG */

.products-content {
  background-color:#F0F0F0 ;
}


.products-wrapper {
 display: flex;
}

.product-selection {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-sorting {
  display: flex;
  justify-content: space-between;
}

.product-card-section {
  flex-grow: 1;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F0F0;
  gap: 40px;
 justify-content: space-between;
background-color: #ffffff;
  padding: 70px 40px 116px;

}

.breadcrumbs-title,
.submit-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-list {
  display: flex;
  padding: 16px;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
}

.product-filter-title,
.sort-link,
.load-more-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase
}

.product-filter-item,
.catalog-filter-title,
.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.load-more-link {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
  margin-top: 40px;
}

.pagination {
  display: flex;
margin-top: 40px;
margin-bottom: 40px;
justify-content: space-around;
}

.pagination-link-back,
.pagination-link-forward {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-number,
.pagination-link-punkte {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-link-back {
  color: #444444;
}






























