@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.link {
  text-decoration: none;
  color: #000000;
}

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* navigation */

.page-header {
  background-color: #ffe17f;
  padding: 30px 60px;
  min-height: 300px;
  margin-top: 40px;
  position: relative;
}

.page-header-catalog {
  min-height: auto;
  padding-bottom: 10px;
}

.logo-header {
  position: absolute;
  top: -20px;
  width: 151px;
  height: 42px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.logo-header:focus {
  outline: 1px solid #af4fff;
}

.header-navigation-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 236px;
  margin-top: -1px;
}

.header-navigation-list-catalog {
  width: 320px;
}

.header-search-container {
  background-color: transparent;
  max-width: 518px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 47px;
  margin-left: 5px;
}

.header-search-container:focus-within {
  outline: 1px solid #af4fff;
}

.header-input {
  border: 2px solid #000000;
  border-right: none;
  height: 41px;
  border-radius: 50px 0 0 50px;
  flex: 1;
  display: flex;
  align-items: center;
}

.header-input:disabled {
  opacity: 0.3;
}

.search-label {
  flex-grow: 1;
  vertical-align: middle;
}

.header-search-icon {
  margin: 0 16px 0 16px;
  vertical-align: middle;
}

.header-search-input {
  all: unset;
}

.header-search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.header-search-button {
  font-size: 16px;
  line-height: 20px;
  all: unset;
  width: 160px;
  text-align: center;
  height: inherit;
  border: 2px solid #000000;
  height: 38px;
  border-radius: 0 50px 50px 0;
  font-weight: 400;
}

.header-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.header-search-button:disabled {
  opacity: 0.3;
}

.header-login-button {
  all: unset;
  padding-left: 32px;
  background-image: url("/images/login.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 7px;
}

.header-compare-button {
  all: unset;
  padding-left: 20px;
  background-image: url("/images/compare.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 2px;
}

.header-cart-button {
  all: unset;
  padding-left: 40px;
  background-image: url("/images/cart.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  position: relative;
}

.header-cart-popover {
  position: absolute;
  top: 100px;
  right: -17px;
  width: 320px;
  height: 307px;
  background-color: #000000;
  z-index: 999;
  padding: 20px;
  display: none;
}

.header-cart-popover::before {
  content: "";
  position: absolute;
  left: 156px;
  top: -6px;
  width: 15px;
  height: 15px;
  background-color: #000000;
  transform: rotate(45deg);
}

.header-cart-popover:hover {
  opacity: unset;
}

.popover-item {
  display: flex;
  color: #ffffff;
  margin-bottom: 30px;
  padding: 2px;
}

.popover-item:hover {
  opacity: 0.6;
}

.popover-item:active {
  opacity: 0.3;
}

.popover-item:focus {
  outline: 2px solid #af4fff;
}

.popover-name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding-left: 23px;
}

.popover-close-item {
  width: 10px;
  height: 10px;
  position: relative;
  background-color: #000000;
  margin-left: auto;
}

.popover-close-item::after,
.popover-close-item::before {
  position: absolute;
  background-color: #ffffff;
  width: 1px;
  height: 10px;
  content: "";
}

.popover-close-item::after {
  transform: rotate(45deg);
}

.popover-close-item::before {
  transform: rotate(-45deg);
}

.popover-info {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.popover-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  background-color: #ffffff;
  line-height: 21px;
  letter-spacing: 2px;
  padding: 14px 25px 14px 25px;
  width: 100%;
  text-transform: uppercase;
  color: #000000;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.popover-button:focus {
  outline: 2px solid #af4fff;
}

.popover-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.header-items:hover {
  opacity: 0.6;
}

.header-items:active {
  opacity: 0.3;
}

.header-items:focus {
  outline: 2px solid #af4fff;
}

.header-exit-login-item {
  opacity: 0.3;
}

.header-exit-login-button {
  all: unset;
}

.header-menu-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.header-bottom-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 28px;
}

.header-catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  justify-content: space-between;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  align-content: center;
  max-width: 471px;
  width: 100%;
}

.header-liste:hover {
  opacity: 0.6;
}

.header-liste:active {
  opacity: 0.3;
}

.header-liste:focus {
  outline: 2px solid #af4fff;
}

.header-list-active {
  border-bottom: 1px solid #000000;
}

.header-list-active:hover {
  border-bottom: 1px solid #000000;
  opacity: 0.6;
}

.header-list-active:active {
  opacity: 0.3;
  border-bottom: 1px solid #000000;
}

.header-list-active:focus {
  outline: 2px solid #af4fff;
}

.header-catalog-item {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  padding-bottom: 4px;
}

.header-catalog-item:hover .header-sub-catalog-button-open {
  background-image: url("/images/plus-focus.svg");
}

.header-catalog-item:hover .header-sub-catalog-button-close {
  background-image: url("/images/minus-focus.svg");
  display: none;
}

.header-sub-catalog-button {
  all: unset;
}

.header-sub-catalog-button-open {
  width: 50px;
  height: 50px;
  background-image: url("/images/plus.svg");
}

.header-catalog-item:active .header-sub-catalog-button-open {
  background-image: url("/images/plus-focus.svg");
}

.header-sub-catalog-button-close {
  display: none;
  margin-left: 8px;
  width: 50px;
  height: 50px;
  background-image: url("/images/minus.svg");
}

.header-catalog-item:active .header-sub-catalog-button-close {
  background-image: url("/images/minus-focus.svg");
  display: none;
}

.header-catalog-item:focus {
  outline: 2px solid #af4fff;
}

.header-sub-catalog-list {
  font-size: 16px;
  line-height: 18px;
  background: #ffe17f;
  position: absolute;
  z-index: 999;
  width: 1160px;
  left: 0px;
  padding: 60px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 220px));
  gap: 30px;
  display: none;
}

.header-sub-catalog-item-span {
  grid-row: span 2 / span 2;
}

.header-catalog-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 7px;
}

/* slider */

.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -70px;
}

.slider-images {
  margin-top: -77px;
}

.slider-prev {
  all: unset;
  position: absolute;
  top: 67px;
  left: 18px;
}

.slider-prev:hover {
  opacity: 0.6;
}

.slider-prev:active {
  opacity: 0.3;
}

.slider-prev:focus {
  outline: 2px solid #af4fff;
}

.slider-next {
  all: unset;
  position: absolute;
  top: 67px;
  left: 272px;
}

.slider-next:hover {
  opacity: 0.6;
}

.slider-next:active {
  opacity: 0.3;
}

.slider-next:focus {
  outline: 2px solid #af4fff;
}

.indicators-list {
  width: 76px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 86px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 2px solid #000000;
}

.indicator:hover {
  opacity: 0.6;
}

.indicator:active {
  opacity: 0.3;
}

.indicator__active {
  background-color: #000000;
}

.indicator__active:hover {
  opacity: 0.6;
}

.indicator__active:active {
  opacity: 0.3;
}

.slider-info-number {
  position: absolute;
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  right: 45px;
  bottom: 457px;
}

.slider-info {
  flex-wrap: wrap;
  width: 560px;
}

.image-info {
  position: relative;
  z-index: 600;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 46px;
  margin-left: 5px;
  margin-bottom: 28px;
}

.image-description {
  color: #444444;
  margin: 0%;
  margin-left: 5px;
}

.more-info {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 49px;
  margin-left: 42px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.more-info::before {
  width: 220px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  z-index: -1;
  bottom: 17px;
  left: -39px;
}

.more-info:hover::before {
  height: 40px;
  bottom: 0px;
}

.more-info:active::before {
  height: 40px;
  background: #ffcc33;
  bottom: 0px;
}

.more-info:focus {
  border: 2px solid #af4fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  text-align: center;
  width: 219px;
}

.more-info:focus::before {
  bottom: 17px;
  left: 0;
}

.more-info:disabled {
  opacity: 0.3;
}

.distance-800m,
.distance-50m {
  font-size: 36px;
}

.distance-wrapper {
  display: flex;
  justify-content: space-between;
  width: 307px;
  margin-left: 5px;
}

.range {
  margin-bottom: 26px;
}

.range-800m,
.range-50m {
  font-size: 16px;
  color: #444444;
  margin-top: 10px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #dcdcdc;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #af4fff;
  top: -3px;
  left: -3px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 165px;
  margin-left: -12px;
}

.catalog-filter-label {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  all: unset;
  width: 24px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.catalog-filter-label:has(.range-input:focus) {
  outline: 2px solid #af4fff;
}

.range-input-max {
  width: 40px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* catalog list */

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 182px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.catalog-item:hover .catalog-image-wrapper {
  background-color: #ffc700;
}

.catalog-item:active .catalog-image-wrapper {
  background-color: #ffc700;
}

.catalog-item:focus {
  outline: 2px solid #af4fff;
}

.catalog-image-wrapper {
  background-color: #ffe17f;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-image-wrapper:hover {
  background-color: #ffc700;
}

.catalog-image-wrapper:active {
  opacity: 0.6;
}

.catalog-image-end {
  align-self: end;
}

.catalog-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  padding-top: 33px;
}

.catalog-name-long {
  white-space: nowrap;
}

/* INFO */

.info-section-wrapper {
  background-color: #f0f0f0;
  height: 289px;
  position: relative;
}

.credit {
  display: none;
}

.guarantee {
  display: none;
}

.info-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%);
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 295px;
  border-right: 7px solid #000000;
  padding-top: 60px;
  padding-bottom: 77px;
  height: 319px;
}

.info-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  padding-left: 23px;
}

.info-item-active {
  background-color: #000000;
  padding: 10px;
  padding-left: 20px;
}

.info-item-no-active::before {
  width: 160px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  bottom: 6px;
  left: 0;
  z-index: -1;
}

.info-link-active {
  color: #ffe17f;
}

.info-link-left {
  padding-left: 14px;
}

.headline {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 83px;
  width: 694px;
  height: 174px;
  padding-top: 127px;
  margin-right: 60px;
}

.description-text {
  color: #444444;
  margin-top: -10px;
}

.description-image-package {
  margin-top: 13px;
}

.delivery {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  margin-top: 70px;
}

.delivery-auto {
  display: flex;
  height: 100px;
  width: 125px;
  background-color: #ffe17f;
  align-items: center;
  justify-content: center;
}

.delivery:hover .delivery-auto {
  background-color: #ffc700;
}

.delivery:active .delivery-rare-product {
  opacity: 0.3;
}

.delivery:active .delivery-auto {
  opacity: 0.6;
}

.delivery:focus {
  outline: 2px solid #af4fff;
}

.delivery-rare-product {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 40px;
  padding-left: 0;
}

.info-icon {
  margin-right: 40px;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 70px;
}

.about {
  position: relative;
}

.about::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: 4px;
  left: 5px;
}

.about-text {
  color: #444444;
  margin-bottom: 30px;
  padding-left: 5px;
}

.about-list {
  margin-bottom: 35px;
}

.about-item {
  font-size: 18px;
  font-weight: bold;
  font-weight: 700;
  line-height: 20px;
  margin-left: 39px;
  margin-bottom: 18px;
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: #ffc700;
  border-radius: 50px;
}

.about-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  margin-left: 27px;
}

.about-more::before {
  width: 265px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  bottom: 6px;
  left: -20px;
  z-index: -1;
}

.about-write {
  margin-left: 32px;
}

.about-write::before {
  left: -32px;
  width: 235px;
}

.contacts {
  color: #444444;
  padding-left: 154px;
  position: relative;
}

.contacts::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: 4px;
  left: 155px;
}

.contacts-text {
  margin-bottom: 30px;
  margin-right: 20px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
  margin-bottom: 16px;
}

.contacts-address {
  font-style: inherit;
  margin-bottom: 30px;
}

.contacts-address-text {
  font-style: normal;
  margin-bottom: -2px;
  margin-top: 14px;
}

.contacts-phone {
  border-bottom: 3px solid #c4c4c4;
}

.contacts-schedule {
  margin-bottom: 36px;
}

.distribution-title {
  width: 325px;
  margin-left: 10px;
}

.distribution-text {
  margin-left: 30px;
  margin-top: 25px;
}

.distribution-top {
  background-color: #f0f0f0;
  padding-bottom: 30px;
  font-style: inherit;
}

.distribution-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 26px;
}

.distribution-subscribe {
  all: unset;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #c4c4c4;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

.distribution-subscribe:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.distribution-subscribe:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.distribution-subscribe:focus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 1px solid #af4fff;
  left: 0;
}

.distribution-subscribe:disabled {
  opacity: 0.3;
}

.distribution-input-wrapper {
  display: flex;
  width: 810px;
}

.distribution-input-label {
  flex-grow: 1;
  align-self: center;
  padding-left: 20px;
  height: 100%;
  padding-top: 15px;
  border-bottom: 3px solid #c4c4c4;
}

.distribution-input-label:has(.distribution-email:invalid) {
  border-color: #ff3d3d;
}

.distribution-input-label:focus {
  background-color: #dcdcdc;
}

.distribution-email {
  all: unset;
}

.distribution-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.distribution-free {
  position: relative;
}

.distribution-free::before {
  background-image: url("/images/vector1.png");
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: -26px;
  top: 6px;
}

/* FOOTER */

.page-footer {
  background-color: #444444;
  padding-top: 62px;
  padding-bottom: 74px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  margin-bottom: 20px;
  width: 151px;
  height: 42px;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.logo-footer:focus {
  outline: 1px solid #af4fff;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 447px;
  justify-content: space-between;
  margin-left: -49px;
}

.footer-link:hover {
  color: #ffc700;
  border-bottom: solid;
}

.footer-link:active {
  color: #ffc700;
  opacity: 0.3;
  border-bottom: solid;
}

.footer-link:focus {
  outline: 2px solid #af4fff;
}

.footer-rectangle {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  margin-top: 10px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 39px;
}

.footer-social-item:hover {
  background: #ffc700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-social-item:active {
  background: #ffc700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-social-image:active {
  opacity: 0.3;
}

.footer-social-item:focus {
  border: 2px solid #af4fff;
  width: 44px;
  height: 44px;
}

.htmlacademy-link {
  background-image: url("/images/html.svg");
  width: 115px;
  height: 33px;
}

.htmlacademy-link:hover {
  background-image: url("/images/html1.svg");
  width: 115px;
  height: 33px;
}

.htmlacademy-link:active {
  background-image: url("/images/html2.svg");
  width: 115px;
  height: 33px;
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 1px solid #af4fff;
  width: 117px;
  height: 37px;
}

.footer-address-text,
.footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 50px;
}

.footer-phone {
  width: 177px;
  margin-top: 5px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-phone:focus {
  width: 177px;
  height: 24px;
  outline: 2px solid #af4fff;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.login-button {
  opacity: 0.3;
}

/* POPUP */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 0 73px;
  background-color: #ffffff;
}

.modal-auth {
  width: 920px;
  border: 10px solid #000000;
}

.modal-name-wrapper {
  display: flex;
  align-items: center;
}

.modal-close-button {
  all: unset;
  position: relative;
  padding: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: -15px;
}

.modal-close-button::after,
.modal-close-button::before {
  position: absolute;
  background-color: #000000;
  top: 2px;
  right: 23px;
  width: 5px;
  height: 35px;
  content: "";
}

.modal-close-button::after {
  transform: rotate(45deg);
}

.modal-close-button::before {
  transform: rotate(-45deg);
}

.modal-close-button:hover::after,
.modal-close-button:hover::before {
  opacity: 0.6;
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-close-button:focus,
.modal-close-button:focus {
  outline: 1px solid #af4fff;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 50px;
}

.modal-email-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 18px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.label {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.label-numbers {
  margin-bottom: 16px;
}

.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: #ffe17f;
  position: relative;
}

.info-modal {
  display: none;
}

.info-icon:hover .info-modal,
.info-icon:focus .info-modal {
  display: block;
  position: absolute;
  top: 40px;
  width: 200px;
  font-size: 16px;
  padding: 19px;
  text-align: left;
  font-weight: 400;
  z-index: 999;
  background-color: #000000;
  color: #ffffff;
}

.number {
  position: relative;
  margin-top: 8px;
}

.minus {
  position: absolute;
  left: 22px;
  top: 22px;
  font-size: 42px;
}

.plus {
  position: absolute;
  right: 22px;
  top: 22px;
  font-size: 32px;
}

.number:has(.field-number:invalid) {
  border: 2px solid #ff3d3d;
}

.auth-form-field {
  all: unset;
  padding: 20px;
  background-color: #f0f0f0;
}

.field-name {
  background-image: url("/images/modal-user.svg");
  background-repeat: no-repeat;
  background-position-x: 326px;
  background-position-y: 30px;
}

.auth-form-field:hover {
  background-color: #dcdcdc;
}

.auth-form-field:focus {
  outline: 2px solid #af4fff;
}

.name-info-text {
  font-size: 14px;
}

.field-email:invalid {
  border: 4px solid #ff3d3d;
}

.email-info-text {
  font-size: 14px;
}

.field-email:invalid + .email-info-text {
  font-size: 14px;
  color: #ff3d3d;
}

.field-email {
  background-image: url("/images/modal-post.svg");
  background-repeat: no-repeat;
  background-position-x: 326px;
  background-position-y: 30px;
}

.field-number {
  text-align: center;
}

.modal-input-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  gap: 20px;
}

.auth-form-button {
  all: unset;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 40px;
  position: relative;
  z-index: 4;
  margin-top: 50px;
}

.auth-form-button::before {
  width: 220px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  z-index: -1;
  bottom: 5px;
  left: -30px;
}

.auth-form-button:hover::before {
  height: 40px;
  bottom: -10px;
}

.auth-form-button:active::before {
  height: 40px;
  background: #ffcc33;
  bottom: -10px;
}

.auth-form-button:focus {
  outline: 2px solid #af4fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
  width: 220px;
}

.auth-form-button:focus::before {
  bottom: 16px;
  left: 0;
}

.auth-form-button:disabled::before {
  opacity: 0.3;
}

/*CATALOG */

.products-content {
  background-color: #f0f0f0;
  margin-top: 35px;
}

.products-wrapper {
  display: flex;
}

.product-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 60px 0px 60px;
  width: 320px;
}

.product-sorting {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
  margin-left: 43px;
}

.select-link {
  position: relative;
  padding-right: 49px;
}

.select-link::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
}

.select-link:hover {
  opacity: 0.6;
}

.select-link:active {
  opacity: 0.3;
}

.select-link:focus {
  outline: 2px solid #af4fff;
}

.arrow {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.arrow:hover {
  border-top-color: rgba(0, 0, 0, 0.6);
  border-bottom-color: rgba(0, 0, 0, 0.6);
}

.arrow:active {
  border-top-color: rgba(0, 0, 0, 1);
  border-bottom-color: rgba(0, 0, 0, 1);
}

.arrow:focus::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  outline: 2px solid #af4fff;
  top: -22px;
  left: -17px;
}

.arrow-down:focus::before {
  top: -13px;
  left: -18px;
}

.product-arrow {
  margin-top: 15px;
  margin-right: 45px;
  width: 47px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.arrow-up {
  border-top: 10px solid rgba(0, 0, 0, 0.3);
}

.arrow-down {
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}

.product-cards-section {
  flex-grow: 1;
  width: 100%;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  background-color: #ffffff;
  padding: 70px 40px 24px;
  row-gap: 23px;
}

.product-card {
  position: relative;
}

.product-card:hover .product-card-image {
  opacity: 0.3;
}

.product-card:hover .product-card-description {
  opacity: 0.3;
}

.product-card:hover .product-info-button {
  display: block;
}

.product-card:active .product-card-image {
  opacity: 0.3;
}

.product-card:active .product-card-description {
  opacity: 0.3;
}

.product-card:active .product-info-button {
  display: block;
}

.product-card:active .product-info-button::before {
  background-color: #ffcc33;
}

.product-card:focus {
  outline: 2px solid #af4fff;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
}

.product-info-button {
  all: unset;
  display: none;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 40px;
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 65px;
}

.product-info-button::before {
  width: 220px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  z-index: -1;
  bottom: 5px;
  left: -30px;
}

.breadcrumbs-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-left: 60px;
  margin-top: 35px;
}

.submit-link {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-left: 0;
  position: relative;
  z-index: 4;
  margin-top: 32px;
  margin-left: 51px;
}

.submit-link::before {
  width: 220px;
  height: 8px;
  position: absolute;
  content: "";
  background-color: #ffe17f;
  z-index: -1;
  bottom: 8px;
  left: -52px;
}

.breadcrumbs-list {
  display: flex;
  padding-left: 60px;
  margin-top: 7px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -21px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  transform: rotate(315deg);
}

.breadcrumbs-item {
  position: relative;
  margin-right: 34px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

.product-filter-list {
  margin-bottom: 32px;
  margin-left: 6px;
}

.product-filter-title,
.sort-link,
.load-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-filter-title {
  width: 92px;
  margin-top: 23px;
}

.product-filter-price {
  margin-top: 21px;
}

.product-filter-item,
.catalog-filter-title,
.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-filter-item,
.catalog-filter-group,
.catalog-filter-title {
  width: 200px;
  border-top: 3px solid #000000;
  padding-top: 35px;
  margin-bottom: 20px;
}

.product-filter-item {
  padding-top: 13px;
  margin-bottom: 26px;
}

.catalog-filter-title {
  padding-top: 13px;
}

.catalog-filter-group {
  all: unset;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  display: block;
  margin-bottom: 17px;
  padding-left: 21px;
}

.control-mark {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input {
  appearance: none;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.2;
}

.control:focus .control-mark::after {
  position: absolute;
  left: -4px;
  bottom: -4px;
  content: "";
  width: 24px;
  height: 24px;
  outline: 2px solid #af4fff;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/images/vector.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.catalog-more {
  background-color: #ffffff;
  padding-bottom: 80px;
}

.load-more-link {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  padding: 17px;
  border: 3px solid #e5e5e5;
  margin: 0 40px;
  margin-bottom: 50px;
}

.load-more-link:hover {
  border: 3px solid #000000;
}

.load-more-link:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.load-more-link:focus::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -1px;
  outline: 2px solid #af4fff;
  opacity: 0.3;
}

.load-more-link:disabled {
  opacity: 0.3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  background-color: #ebebeb;
  align-items: center;
}

.pagination-link-back,
.pagination-link-forward {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-number,
.pagination-link-points {
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  position: relative;
}

.pagination-link-number:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link-number:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link-number:focus {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-link-number:focus::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  top: -14px;
  left: -17px;
  outline: 2px solid #af4fff;
}

.pagination-item:hover {
  background-color: #dcdcdc;
  color: #000000;
}

.pagination-item:active .link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:focus {
  outline: 2px solid #af4fff;
}

.one {
  color: rgba(68, 68, 68, 0.6);
}

.numbers {
  display: flex;
  width: 170px;
  justify-content: space-between;
}
